<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>You have {{count}} friends.</h1>
    <h1>Your friends are:</h1>
    {% for friend in friends %}
        <p>{{friend.first_name}} {{friend.last_name}}</p>
        <form action='/deleteFriend' method="POST">
            {% csrf_token %}
            <input type='hidden' name='friendId' value='{{friend.id}}'>
            <input type='submit' value = 'Remove This Friend'>
        </form>
    {% endfor %}
    <br>
    <a href='/home'>Go Back...</a>
</body>
</html>